<!DOCTYPE html>
<html lang="en">


     <head>
         {% block title %}
        	<title>Congress Home</title>
         {% endblock title %}
         			<meta charset="utf-8">
                                <meta http-equiv="content-type" content="width=device-width, initial-scale=1.0" />
	                        <meta name="author" content="Stephen Amponsah; e-mail: skamponsah@st.ug.edu.gh" />
				<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type = "text/css"/>
				<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"/>
                               
     </head>
<div class=" container" style = "position:relative;" >

<!-- body starts here-->
<body >
 
      <!--Top bar-->
   	 <div class="navbar navbar-fixed-top"style = "">
     		 <div class="navbar-inner">
          		<div class="container">
            			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            				<span class="icon-bar"></span>
            				<span class="icon-bar"></span>
            				<span class="icon-bar"></span>
            			</a>
            			<a class="brand" style = "margin-left:350px;"><bold>CONGRESS INFORMATION SYSTEM</bold></a>
             		</div>
                 </div>
         </div>
 <!-- End of Top bar -->
	 


<!-- content of page starts here -->
         <div class=" container" > 
        		 <div class="container-fluid">
        			     <div class="row-fluid">
        				        <div id="content" class =  "span10" >

        	                                      <div  style="float:left;margin-left:1px; background-color:strong black; width:50px; height:1px;margin-top:47px;">
					     		              	<img src="/static/img/nubslogo.jpg"/>
	  					      </div>
                         
           							<div class="congressmenu1" style="margin-left:180px;margin-top:50px;">
			
           				                               	<ul class="nav nav-pills nav-stacked">


									<!-- Navigation bars-->
									{% block navigation %}
           				                                       <li >
    						
  											   <a  class="example" rel="popover" style  = "background-color:light orange;" title="What's happening?" data-content="Find out..." href="/reg"> <img src="/static/img/icon/home.gif" width="20" height="20"/>&nbsp Home</a> 
  						 			       </li>

  									        <li >
							                                   <a class="example" rel="popover" title="Who's coming?" data-content="Our Guests..."href="/reg/guest"><img src="/static/img/icon/group.png" width="20" height="20"/>&nbsp Guests</a> 
						    				</li>

				      						 <li > 
										 <a class="example" rel="popover" title="Who is Hosting?" data-content="Get to Know..." href="/reg/host"><img src="/static/img/icon/contacts.png" width="20" height="20"/>&nbsp Host</a> 
                                                   				 </li>
										 <li> <a class="example" rel="popover" title="Staying connected" data-content="Our Alumni..."href="/reg/alumni"><img src="/static/img/icon/abtUs.jpg" width="20" height="20"/>&nbsp Alumni</a> 
                                                                                 </li>
									  {% endblock %}
							<!-- End of Navigation bars -->
   					
                                    				      </ul> 
			 	
                         					</div>

								<div style="float:right; margin-right:-2px; margin-top:-12px;"class="form-inline">
									Welcome &nbsp <i class="icon-user"></i> &nbsp {{user.username}} &nbsp <a href="/admin/" target="blank" >&nbsp Dashboard</a>
						 			&nbsp <a href="/admin/logout/">Logout</a>
								</div>

	<style>
  		.hr { height:5; width:938px;  border-top:6px solid black; margin-left:-50px;}
  		.hr hr { display:none; }
	</style>
   
				                               
              
						<!-- black bar -->    <div style="margin-top:20px; margin-left:-2px;" class=hr><hr/></div>

 		            							<div class="container-fluid">
    			        							<div class="row-fluid">
					 
				      								<div id="content" class =  "span10 " >
				 	   								<div class="congressmenu" style="margin-left:220px;">
							                      <!-- start of search bar -->                        
       												<ul>  				     				 
 						<form class="navbar-search pull-right; " style = "margin-left:455px " method="GET" action="/reg/congress/search/">
						   <i class="icon-search"></i>
					           <input type="text" style="border: 1px solid black; " class="form-search" placeholder="Search Guest"name="search_item" >
    					        </form>                       <!-- end of search bar -->
					               						 </ul>	
                                                 							</div>
					 							</div>
                                							</div> 
				
                           							</div>
									</div>
				
							</div>
						</div>
			</div>
			      		
              
               
{% block content %}
	<div class="container-fluid">
  		<div class="row-fluid">
    			<div class="span2" style="">
      			<!--Sidebar content-->

<div style="overflow:auto;width:250px; height:340px; border:3px solid black; background-color:white; margin-left:5px; margin-top:0px; margin-bottom:;">
	
		<div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading" style="font-size:24px; text-align:center;">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  A Congress that is...
                </h>
              </div>
              
            </div>
            <div class="accordion-group">
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  1. Holy Spirit Driven
                </h>
              </div>
              <div id="collapseTwo" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <img align="left" src="/static/img/Ignite_the_Fire.jpeg" width="20" height="20" style="padding-right:10px;"/>
                  <p  style="text-align:justify;  background-color: orange;">
                  Controlled by the Holy Spirit...
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                 2. Timeous
                </h>
              </div>
              <div id="collapseThree" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <img align="left" src="/static/img/working with jesus.jpeg" width="20" height="20" style="padding-right:10px;"/>
                  <p style="text-align:justify; background-color: orange;">On time and In time</p>
                </div>
              </div>
            </div>
             <div class="accordion-group">
              <div class="accordion-heading">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                 3. Within Budget
                </h>
              </div>
              <div id="collapseFour" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <img align="left" src="/static/img/signs and wonders.jpeg" width="20" height="20" style="padding-right:10px;"/>
                  <p style="text-align:justify; background-color: orange;">Lord God surprise US...</p>
                </div>
              </div>
            </div>
             <div class="accordion-group">
              <div class="accordion-heading">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                4. Simple
                </h>
              </div>
              <div id="collapseFive" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <img align="left" src="/static/img/Go_Ahead.jpeg" width="20" height="20" style="padding-right:10px;"/>
                  <p style="text-align:justify; background-color: orange;">but with a touch of Excellence...</p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                5. All Involving                </h>
              </div>
              <div id="collapseSix" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <img align="left" src="/static/img/Seek_God_First.jpeg" width="20" height="20" style="padding-right:10px;"/>
                  <p style="text-align:justify; background-color: orange;">Everyone on board... </p>
                </div>
              </div>
            </div>
             <div class="accordion-group">
              <div class="accordion-heading">
                <h class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                  6. Novelty
                </h>
              </div>
              <div id="collapseSeven" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <img align="left" src="/static/img/Make_a_Difference.jpeg" width="20" height="20" style="padding-right:10px;"/>
                  <p style="text-align:justify; background-color: orange;">With new Ideas...</p>
					
                </div>
              </div>
  </div>
          

		
  		
  </div>	








</div>
</div>
<!-- end of sidebar content 
      	 			<div class="left_menu" style = "margin-left:20px;">
  					<ul class="nav nav-pills nav-stacked">
                       				 <li><a><img src="/static/img/icon/schedule.png" width="20" height="20"/> &nbsp Love</a></li>
  		
  						 <li><a><img src="/static/img/icon/group.png" width="20" height="20"/> &nbsp Faith </a></li>
  			    			 <li><a><img src="/static/img/icon/profile.png" width="20" height="20"/> &nbsp Hope</a></li>
  			  			 <li><a><img src="/static/img/icon/send.png" width="20" height="20"/> &nbsp Kindness</a></li>
  			                         <li><a><img src="/static/img/icon/opt-out.jpg" width="20" height="20"/> &nbsp Humility</a></li>
  			                         <li><a><img src="/static/img/icon/schedule.png" width="20" height="20"/> &nbsp Patience</a></li>
  					</ul>
  
  	    			 </div>
     			 </div> -->
   
   			 <div class="span10">
      						 <!--Inner body content-->
   
				<div id="myCarousel" class="carousel slide"  style ="width:650px;margin-left:90px;">
            				<div class="carousel-inner">
             					 <div class="item active">
               						 <img src="/static/img/Ignite_the_Fire.jpeg"  height='340' width='650'/>
                						<div class="carousel-caption">
                						  <h4></h4>
                 					          <p></p>
              						       </div>
              					 </div>
              			     		 <div class="item">
                					<img src="/static/img/Make_a_Difference.jpeg" height='340' width='650'/>
               							 <div class="carousel-caption">
                						  <h4></h4>
               							  <p></p>
               						         </div>
           				         </div>
             					 <div class="item">
             					       <img src="/static/img/Seek_God_First.jpeg" height='340' width='650'/>
               							 <div class="carousel-caption">
                						  <h4></h4>
                						  <p></p>
                						</div>
             					 </div>

						 <div class="item">
                				       <img src="/static/img/Go_Ahead.jpeg"  height='340' width='650'/>
                						<div class="carousel-caption">
                  						   <h4></h4>
                  						   <p></p>
                						</div>
              					</div>
						<div class="item">
                					<img src="/static/img/signs and wonders.jpeg" height='340' width='650'/>
                						<div class="carousel-caption">
                 						 <h4></h4>
                 						 <p></p>
              						        </div>
            				       </div>
					       <div class="item">
               						 <img src="/static/img/working with jesus.jpeg" height='340' width='650'/>
                						<div class="carousel-caption">
                 						<h4></h4>
                 						<p> </p>
               							</div>
             				       </div>
					       <div class="item">
               				         	 <img src="/static/img/Getting_Hungry.jpeg" height='340' width='650'/>
                                                   		<div class="carousel-caption">
                  						<h4></h4>
                 						<p></p>
                						</div>
              				       </div>
					       <div class="item">
               						 <img src="/static/img/Jesus paid it all.jpeg"  height='340' width='650'/>
               							 <div class="carousel-caption">
                						  <h4></h4>
                 					          <p></p>
                						</div> 
             				        </div>
         			        </div>

       						     <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
       						     <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
       		      	        </div>
			 </div>
 		</div> 
	</div>


             
               <!-- footer -->
   <div id='footer'>
		<div style="margin-top:0px;margin-bottom:20px;text-align:right; margin-left:25px;" class=hr><hr/></div>
      				
					<div style="margin-top:;margin-bottom:; width:938px;margin-left:25px;text-align:;" >
 						<!--<hr style="border:2px solid black;"/>-->
 							<ul class="breadcrumb" style = "margin-left:2px;">			  
   
							    <li><div style="text-align:right; margin-right = 100;">CONGRESS 2013!!! I'M MASSIVELY INVOLVED &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Copyright &nbsp &copy; 2013</div></li>
							</ul>
 					</div>
				
	</div>       							
</div> 
{% endblock %}
<script src="/static/bootstrap/js/jquery.js"></script>	
	 <script src="/static/bootstrap/js/bootstrap.js"></script>
	 <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
	<script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
	<script type="text/javascript">
 		 $(function(){
     	 $('#myCarousel').carousel({interval:5000});
 	 })
 	 </script>		
  
	<script src="/static/bootstrap/js/bootstrap-alert.js"></script>
		<script type="text/javascript">
 		 $(function(){
     	 $(".alert").alert();
 	 })
 	 </script>
 	 
 	 <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
 	 <script type="text/javascript">
 	 	$(function(){
 	 	$('#myModal').modal('show');
 	 	
 	 	})	
 	 	</script>
 	 	
 	 	 <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
 	 <script type="text/javascript">
 	 	$(function(){
 	 	$('.example').popover({placement:'bottom'});
 	 	})	
 	 	</script>
 	 	
 	 	 <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
 	 <script type="text/javascript">
 	 	$(function(){
 	 	$(".collapse").collapse();
 	 	})	
 	 	</script>
</div>
</body>

</html>
