{% extends "congress/base.html"%}

{%block title%}
<title>Guest Page</title>
{%endblock title%}
{% block content %}

 <div class=" container"    style = "margin-left:-120px; margin-top:-15px;"> 
<!--<ul class="breadcrumb" style  = " position:relative;">-->
<table class ="table "> 

  <div>
     <tr>
  <th><a  style  = " position:relative;margin-left:0px;">ID </a></th>
  <th><a style  = " position:relative;margin-left:10px;">FULL NAME</a></th>
  <th><a  style  = " position:relative;margin-left:-15px;">PHONE NUMBER</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">INSTITUTION</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">GENDER</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">HOST</a></th>
  <th><a  style  = " position:relative;margin-left:0px;">HALL</a></th>
  <th><a   style  = " position:relative;margin-left:0px;">ROOM NUMBER</a></th>

	</tr>
		<tbody>
			</div>
  {% for guest in guest_list %}
<tr>
  <td>{{guest.guest_ID }}</td>
  <td>{{guest.Full_name}}</td>
  <td>{{guest.phone_number}}</td>
  <td>{{guest.institution}}</td>
  <td>{{guest.sex}}</td>
  <td>{{guest.host}}</td>
  <td>{{guest.guest_hall}}</td>
  <td>{{guest.host_room_number}}</td>
</tr>
</p>

{% endfor %}
</tbody>
</table>
</ul> </div>
{%endblock%}

</body></html>
